# IDEA
.idea/
*.ipr
*.iml
*.iws

# vscode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

# Gradle
.gradle/
build/

# temp
*.log
*.cache
*.diff
*.patch
*.tmp
.jython_cache/

# system
.DS_Store
Thumbs.db

# agent
.codex/
.claude/



